* {
  margin: 0;
  background-color: transparent;
}

section {
background-image: url('../../assets/img/rectangle.png');
height: 100vh;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#content {
  margin: 0;
  background-color: transparent;
  text-align: left;
  padding-top: 250px;
  width: 100%;
  height: auto;
  max-width: 1440px;
}
h1 {
  font-family: 'Syne';
  font-size: 78px;
  font-weight: 800;
  background-color: transparent;
  color: whitesmoke;
  padding-left: 90px;
}

span {
  font-family: 'overpass';
  font-size: 32px;
  font-weight: 700;
  margin-top: 50px;
  background-color: transparent;
  color: #00BC8F;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'overpass';
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.contact-form {
  height: 100vh;
  text-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: whitesmoke;
  margin-top: 50px;
}

.text-field {
  color: whitesmoke;
  border: none;
  border-bottom:  solid 1px whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  height: 50px;
  max-width: 600px;
  text-indent: 20px;
}

#name {
  width: 600px;
}

#email {
  width: 600px;
}

#message {
  height: 200px;
  width: 600px;
  max-width: 600px;
  resize: none;
}

#submitbutton {
  margin-top: 50px;
  background-color: black;
  color:#00BC8F;
  border: 3px solid #00BC8F;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: overpass;
  transition: all 120ms ease-in-out;
  cursor: pointer;

  &:hover {
    scale: 1.1;
    transition: all 120ms ease-in-out;
  }
}

.privacy-policy {
  padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 70px;

  a {
    text-decoration: none;
    color: #00BC8F;
  }
}

.privacytext {
  font-size: 14px;
}

#privacy {
  background-color: black;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

::placeholder {
  color: whitesmoke;
  opacity: 1;
}