* { 
  margin: 0 auto;
  max-width: 1440px;
  font-family: "syne";
}

h2 {
  font-size: 60px;
  font-weight: 800;
  padding-left: 90px;
}

p {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#text {
  padding-left: 90px;
  padding-right: 50px;
  font-family: overpass;
  max-width: 600px;
}

#aboutmefoto {
  position: relative;
  height: 400px;
  filter: grayscale(.4);
  --c: transparent; /* the main color */
  --b: 4px; /* thickness of the border */
  --o: 25px; /* control the offset */
  --_p: calc(2*var(--o) + var(--b));
  padding: calc(var(--_p)/2);
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--o) - var(--_p));
  transition: .1s;
}

#aboutmefoto:hover {
    filter: grayscale(0);
    --c: #000000; /* the main color */
    --b: 4px; /* thickness of the border */
    padding: 0 var(--_p) var(--_p) 0;
    
}

#aboutme {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  gap: 20px;
  width: 90vw;
}

#aboutmetext {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: overpass;
  
}

#iconsandtext {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
}

#baseline {
  display: flex;
}

#baseline img {
  height: 40px;
}

#remoteworkline img {
  height: 40px;
}

#remoteworkline {
  display: flex;
  margin-left: 0px;
}

#contactmebutton {
  margin-top: 50px;
  background-color: whitesmoke;
  border: 3px solid black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: overpass;
  transition: all 120ms ease-in-out;

  &:hover {
    scale: 1.1;
    transition: all 120ms ease-in-out;
    background-color: black;
    color: whitesmoke;
  }
}

@media only screen and (max-width: 1050px) {

  #aboutmetext {
    width: fit-content;
    padding: 0;
  }

  #text {
    padding-left: 25px;
    padding-right: 25px;
  }

  #aboutmefoto {
    height: 300px;
    margin-right: none;
  }
}

@media only screen and (max-width: 860px) {

  #aboutme {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

  #aboutmefoto {
    height: 400px;
    margin-right: none;
  }
}

@media only screen and (max-width: 600px) {

  h2 {
    text-align: center;
    font-size: 35px;
    padding: 0;
  }

  #aboutme {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #text {
    padding-left: 25px;
    padding-right: 25px;
  }


  #aboutmefoto {
    height: 250px;
    margin-right: none;
  }
}