<h1>About me</h1>
<div id="aboutme">
  <div id="aboutmetext">
    I am a Front-end deverloper from Hamburg, Germany. I help designers and
    companies to bring their ideas to real life. Creativity and logical thinking
    are skills that I have developed to connect ideas into quality products. If
    you think I’d be a good match for your projects, contact me!
    <div id="iconsandtext">
      <div class="iconandtext">
        <img src="../../assets/img/house.png" alt="Housepicture" />
        <p>Based in Wuppertal, Germany</p>
      </div>
      <div class="iconandtext">
        <img src="../../assets/img/remote.png" alt="Remotework picture" />
        <p>Open to work remote</p>
      </div>
    </div>
  </div>
  <img
    id="aboutmefoto"
    src="../../assets/img/aboutmefoto.png"
    alt="Foto of Fabian Roeseler"
  />
</div>
