* { 
  margin: 0;
  font-family: "syne";
}

h2 {
  font-size: 80px;
  font-weight: 800;
  padding-left: 90px;
}

p {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#text {
  padding: 0;
  padding-left: 90px;
  padding-right: 150px;
  font-family: overpass;
}

#aboutmefoto {
  padding: 0;
  margin-right: 90px;
  height: 35vh;
  scale: 1;
  transition: 225ms;
  border: 1px solid black;
  border-radius: 5% ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#aboutmefoto:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  scale: 1.015;
  transition: 225ms;
  rotate: -0.5deg;
}

#aboutme {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  gap: 20px;
}

#aboutmetext {
  font-size: 20px;
  font-family: overpass;
  
}

#iconsandtext {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 90px;
  gap: 30px;
}

#baseline {
  display: flex;
}

#baseline img {
  height: 40px;
}

#remoteworkline img {
  height: 40px;
}

#remoteworkline {
  display: flex;
}

@media only screen and (max-width: 950px) {

  #aboutmetext {
    width: fit-content;
    padding: 0;
  }
}

@media only screen and (max-width: 860px) {

  #aboutme {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

  #aboutmefoto {
    height: 40vh;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {

  h2 {
    text-align: center;
    font-size: 35px;
    padding: 0;
  }

  #aboutme {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #text {
    padding-left: 25px;
    padding-right: 25px;
  }

  #iconsandtext {
    padding-left: 25px;
  }

  #aboutmefoto {
    height: 28vh;
    margin-right: 0px;
  }
}