* {
  padding-top: 92px;
}

hr {
  padding: 0;
  width: calc(80% - 10px);
  height: 1px;
  background-color: black;
  display: inline-block;
}

div {
  margin-left: 210px;
  margin-right: 210px;
}

h1 {
  font-family: "syne";
  font-size: 80px;
  text-align: center;
  font-weight: 800;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-wrap: nowrap;
  margin-left: 30px;
  color: #00BC8F ;
}

#name {
  padding: 0;
  display: flex;
  align-items: center;
  font-family: "overpass";
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

@media only screen and (max-width: 860px) {

  h1 {
    padding-top: 41px;
    font-family: "syne";
    font-size: 50px;
    text-align: center;
    font-weight: 800;
  }

  #name {
    font-size: 16px;
  }

  div {
    margin-left: 110px;
    margin-right: 110px;
  }

  hr {

    width: calc(100% - 10px);
  }

}

@media only screen and (max-width: 550px) {

  h1 {
    padding-top: 20px;
    font-family: "syne";
    font-size: 26px;
    text-align: center;
    font-weight: 800;
  }

  #name {
    font-size: 12px;
  }

}