* {
  margin: 0 auto;
  max-width: 1440px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-bottom: 100px;
}

.header {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 15px;
margin-left: 60px;
margin-right: 60px;
}

h1 {
  font-family: 'Syne';
  font-size: 78px;
  font-weight: 800;
}

h2 {
  font-family: 'Overpass';
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 100px;
}

.project {
  display: flex;
  width: 90vw;
}

.project-two {
  flex-direction: row-reverse;
}

.text-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  font-family: overpass;
  gap: 20px;
}

.title {
  font-family: 'Syne';
  font-size: 40px;
  font-weight: 800;
}

.order {
  font-family: 'Overpass';
  font-size: 22px;
  font-weight: 400;
  text-align: end;
}

.orderDivOne {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.orderTwo {
  font-family: 'Overpass';
  font-size: 22px;
  font-weight: 400;
}

.orderDivTwo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

button {
  background-color: whitesmoke;
  border: 3px solid black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: overpass;
  transition: all 120ms ease-in-out;

  &:hover {
    scale: 1.1;
    transition: all 120ms ease-in-out;
    background-color: black;
    color: whitesmoke;
  }
}

.rotate-animation {
  animation: rotateAndScale 0.5s ease-in-out forwards;
}

@keyframes rotateAndScale {
  from {
      transform: scale(1) rotate(0deg);
  }

  to {
      transform: scale(1.5) rotate(-115deg);
  }
}


@media (min-width: 800px) {
.picture-one  {
  filter: grayscale(.4);
  --c: transparent; /* the main color */
  --b: 4px; /* thickness of the border */
  --o: 25px; /* control the offset */
  --_p: calc(2*var(--o) + var(--b));
  padding: calc(var(--_p)/2);
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--o) - var(--_p));
  transition: .1s;
}

.picture-one:hover {
    filter: grayscale(0);
    --c: #000000; /* the main color */
    --b: 4px; /* thickness of the border */
    padding: 0 var(--_p) var(--_p) 0;
}
}

@media only screen and (max-width: 1050px) {

.project {
  flex-direction: column;
  align-items: center;
}
}

@media only screen and (max-width: 800px) {

.picture-one {
  margin-bottom: 10px;
}
  }

  @media only screen and (max-width: 700px) {

    .black-white {
      width: 80%;
    }

    h1 {
      font-family: 'Syne';
      font-size: 60px;
      font-weight: 800;
    }
      }

@media only screen and (max-width: 700px) {
  h1 {
    font-family: 'Syne';
    font-size: 40px;
    font-weight: 800;
  }

  .title {
    font-size: 20px;
  }
  
  .black-white {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    }