<div class="projects" id="projects">
  <div class="header">
    <h1>Portfolio</h1>
    <h2>
      Explore a selection of my work here - Interact with projects to see my
      skills in action
    </h2>
  </div>

  <div class="project">
    <a href="" target="_blank" rel="noopener noreferrer">
      <div class="picture-one">
        <img class="black-white" src="assets/img/joinbw.png" alt="" />
<!--         <img class="right-border-image" src="assets/img/arrowspin.png" alt="" /> -->
        <div class="border"></div>
      </div>
    </a>
    <div class="text-one">
      <div class="orderDivOne">
        <p class="order">01/02</p>
      </div>
      <div class="textcontainer">
        <p class="title">Join</p>
        <p class="skills-used">JavaScript | Firebase | HTML | CSS</p>
        <p class="description">
          Task Manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories
        </p>
        <a
          href="https://github.com/FabianRoeseler/join_app"
          target="_blank"
          rel="noopener noreferrer"
          ><Button>Github</Button></a
        >
      </div>
    </div>
  </div>

  <div class="project project-two">
    <a href="" target="_blank" rel="noopener noreferrer">
      <div class="picture-one">
        <img class="black-white" src="assets/img/epl.png" alt="" />
<!--         <img class="right-border-image" src="assets/img/arrowspin.png" alt="" /> -->
        <div class="border"></div>
      </div>
    </a>

    <div class="text-one">
      <div class="orderDivTwo">
        <p class="orderTwo">02/02</p>
      </div>
      <div class="textcontainer">
        <p class="title">El Pollo Loco</p>
        <p class="skills-used">JavaScript | HTML | CSS</p>
        <p class="description">
          Task Manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories
        </p>
        <a
          href="https://github.com/FabianRoeseler/elpolloloco"
          target="_blank"
          rel="noopener noreferrer"
          ><Button>Github</Button></a
        >
      </div>
    </div>
  </div>
</div>
