<!-- <div class="projects" id="projects" style="scroll-margin-top: 100px">
  <div class="header">
    <h1>Portfolio</h1>
    <h2 id="projectIntro">
      Explore a selection of my work here - Interact with projects to see my
      skills in action
    </h2>
  </div>

  <div (mouseover)="rotate($event)" class="project-one" id="game-one">
    <a href="" target="_blank" rel="noopener noreferrer">
      <div class="picture-one">
        <img
          class="join-black-white"
          src="assets/projects/join-black-white.png"
          alt=""
        />
        <img
          class="join-color"
          src="assets/projects/join.png"
          alt=""
          style="display: none"
        />
        <img
          class="right-border-image"
          src="assets/about-me/scroll-down/arrow-turning.png"
          alt=""
        />
        <div class="border"></div>
      </div>
    </a>
    <p class="order">01/02</p>

    <div class="text-one">
      <p class="title">Join</p>
      <p class="skills-used">JavaScript | Firebase | HTML | CSS</p>
      <p class="description" id="descriptionJoin">
        Task Manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories
      </p>
      <a href="" target="_blank" rel="noopener noreferrer"
        ><Button>Github</Button></a
      >
    </div>
  </div>

  <div
    (mouseover)="rotate($event)"
    class="project-one project-reverse"
    id="game-two"
  >
    <p class="order-left">02/02</p>

    <div class="text-two">
      <p class="title">El Pollo Loco</p>
      <p class="skills-used">JavaScript | HTML | CSS</p>
      <p class="description" id="descriptionElPolloLoco">
        A simple Jump-and-Run game based on an object-oriented approach. Help
        Pepe to find coins and Salsa bottles to fight against the crazy Chickens
      </p>
      <a href="" target="_blank" rel="noopener noreferrer"
        ><Button>Github</Button></a
      >
    </div>
    <a href="" target="_blank" rel="noopener noreferrer">
      <div class="picture-one">
        <img
          class="join-black-white"
          src="assets/projects/el-pollo-loco-black-white.png"
          alt=""
        />
        <img
          class="join-color"
          src="assets/projects/el-pollo-loco.png"
          alt=""
          style="display: none"
        />
        <img
          class="right-border-image"
          src="assets/about-me/scroll-down/arrow-turning.png"
          alt=""
        />
        <div class="border"></div>
      </div>
    </a>
  </div>
</div>
 -->
