* {
  margin: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.arrow-div {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  margin: 0;
  padding-bottom: 50px;


  &:hover {
    .arrow-bottom-left {
      transform: translateX(-65%) translateY(15%);
    }
  }

  .arrow-bottom-left {
    transform: translateX(-50%);
    transition: transform 0.3s ease, top 0.3s ease;
  }
}

.skills-section {
  position: relative;
  border: 4px solid black;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #fffcf3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    position: absolute;
    font-family: 'Syne';
    font-size: 78px;
    font-weight: 800;
    top: -50px;
  }

  .skills {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 148px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        img {
          transform: scale(1.15);
        }

        h2 {
          color: #4B47FF;
          transform: scale(1.2);
        }
      }

      img {
        height: 75px;
        width: auto;
        transition: 0.3s;

      }

      h2 {
        font-family: 'Overpass';
        font-size: 16px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
      }
    }
  }

  .learn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 64px;

    p {
      font-family: 'Overpass';
      font-size: 22px;
      font-weight: 400;
    }

    .contact-me {
      text-decoration: none;
      font-family: 'Overpass';
      font-size: 22px;
      font-weight: 400;
      color: #4B47FF;
      width: auto;
      transition: transform 0.3s ease;

      &:hover {
        font-weight: 600;
        text-decoration: underline;
      }

    }
  }

}

.arrow-div-second {
  height: 250px;
  width: 70%;

  &:hover {
    .arrow-bottom-right {
      transform: translateX(65%) translateY(15%);
    }
  }

  .arrow-bottom-right {
    height: 235px;
    width: 235px;
    position: relative;
    transform: translateX(50%);
    transition: transform 0.3s ease, top 0.3s ease;

  }
}

