* {
  margin: 0;
  padding: 0;
}

fieldset {
  position: relative;
  border: 3px solid black;
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  max-height: fit-content;
}

legend {
  position:absolute;
  top: -40px;
  font-family: syne;
  font-size: 60px;
  font-weight: 800;
}

#legendcontainer {
  display: flex;
  justify-content: center;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.icons>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}

.icons>div>img {
  width: 50px;
  height: 50px;
  transition: all 120ms ease-in-out;
 
  &:hover {
    animation: fadeOutRight 1.2s ease infinite;
  }
}

@keyframes fadeOutRight {

  0% {
    transform: scale(1);
    rotate: 0deg;
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    rotate: 360deg;
  }
}

#learning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
}

#learningtext {
  font-size: 20px;
  display: flex;
}

#learningtext>div {
  padding-left: 10px;
  padding-right: 10px;
  transition: all 120ms ease-in-out;

  &:hover {
    scale: 1.025;
  transition: all 120ms ease-in-out;
  }
}

#learning>img {
  transition: all 120ms ease-in-out;
 
  &:hover {
    animation: fadeOutRight 1.2s ease infinite;
    animation-direction: reverse;
  }
}


.arrow-div {
  display: flex;
  justify-content: end;
  max-width: 1440px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.arrow-div:hover>img {
  transform: translateX(-65%) translateY(15%);
  transition: transform 0.3s ease, top 0.3s ease ;
}

.arrow-bottom-left {
  transform: translateX(-50%);
  transition: transform 0.3s ease, top 0.3s ease;
}

.arrow-div-second {
  display: flex;
  justify-content: start;
  max-width: 1440px;
}

.arrow-div-second:hover>img {
  transform: translateX(65%) translateY(15%);
  transition: transform 0.3s ease, top 0.3s ease ;
}

.arrow-bottom-right {
  transform: translateX(50%);
  transition: transform 0.3s ease, top 0.3s ease;
}


@media only screen and (max-width: 850px) {
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

#learningtext {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}
}

@media only screen and (max-width: 550px) {
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .legend {
    font-size: 40px;
  }
  }

  @media only screen and (max-width: 500px) {
    .icons {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-gap: 20px;
      padding-top: 160px;
      padding-bottom: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }

    #learningtext {
      font-size: 16px;
    }
    }

    @media only screen and (max-width: 400px) {
      .legend {
        padding-top: 20px;
        font-size: 30px;
      }
    }