<div class="arrow-div" id="myskills">
  <img class="arrow-bottom-left" src="assets/img/arrowtl.png" alt="" />
</div>

<fieldset>
  <span id="legendcontainer">
    <legend class="legend">My skills</legend>
  </span>

  <div class="icons" id="icons">
    <div class="skillbox">
      <img src="assets/img/angular.png" alt="" />
      <h2>Angular</h2>
    </div>
    <div>
      <img src="assets/img/ts.png" alt="" />
      <h2>TypeScript</h2>
    </div>
    <div>
      <img src="assets/img/javascript.png" alt="" />
      <h2>JavaScript</h2>
    </div>
    <div>
      <img src="assets/img/html.png" alt="" />
      <h2>HTML</h2>
    </div>
    <div>
      <img src="assets/img/css.png" alt="" />
      <h2>CSS</h2>
    </div>
    <div>
      <img src="assets/img/firebase.png" alt="" />
      <h2>Firebase</h2>
    </div>
    <div>
      <img src="assets/img/api.png" alt="" />
      <h2>Rest-Api</h2>
    </div>
    <div>
      <img src="assets/img/git.png" alt="" />
      <h2>Git</h2>
    </div>
    <div>
      <img src="assets/img/linux.png" alt="" />
      <h2>Linux</h2>
    </div>
    <div>
      <img src="assets/img/vscode.svg" alt="" />
      <h2>VSCode</h2>
    </div>
    <div>
      <img src="assets/img/neovim.svg" alt="" />
      <h2>Neovim</h2>
    </div>
    <div>
      <img src="assets/img/scrum.png" alt="" />
      <h2>Scrum</h2>
    </div>
  </div>

  <div id="learning">
    <img src="assets/img/learning.png" alt="" />
    <div id="learningtext">
      <p>Don’t see the skill you need?</p>
      <div>
        <a href="#content">Contact me</a>
      </div>
      <p>I’m always ready to learn!</p>
    </div>
  </div>
</fieldset>

<div class="arrow-div-second">
  <img class="arrow-bottom-right" src="assets/img/arrowbr.png" alt="" />
</div>
