<div class="arrow-div">
  <img class="arrow-bottom-left" src="../../assets/img/arrowtl.png" alt="" />
</div>

<div class="skills-section">
  <h1 id="skillsSkills">My skills</h1>

  <div class="skills">
    <div>
      <img src="assets/skills/icons/angular.png" alt="" />
      <h2>Angular</h2>
    </div>
    <div>
      <img src="assets/skills/icons/typescript.png" alt="" />
      <h2>TypeScript</h2>
    </div>
    <div>
      <img src="assets/skills/icons/javascript.png" alt="" />
      <h2>JavaScript</h2>
    </div>
    <div>
      <img src="assets/skills/icons/html.png" alt="" />
      <h2>HTML</h2>
    </div>
    <div>
      <img src="assets/skills/icons/css.png" alt="" />
      <h2>CSS</h2>
    </div>
    <div>
      <img src="assets/skills/icons/firebase.png" alt="" />
      <h2>Firebase</h2>
    </div>
    <div>
      <img src="assets/skills/icons/git.png" alt="" />
      <h2>Git</h2>
    </div>
    <div>
      <img src="assets/skills/icons/scrum.png" alt="" />
      <h2>Scrum</h2>
    </div>
    <div>
      <img src="assets/skills/icons/rest-api.png" alt="" />
      <h2>Rest-Api</h2>
    </div>
  </div>

  <div class="learn">
    <img src="assets/skills/icons/learn.png" alt="" />
    <p id="skillsLearn">Don’t see the skill you need?</p>
    <div style="width: 120px">
      <a class="contact-me" href="#footer" id="skillsContact">Contact me</a>
    </div>
    <p id="sillsLearnTwo">I’m always ready to learn!</p>
  </div>
</div>

<div class="arrow-div-second">
  <img class="arrow-bottom-right" src="../../assets/img/arrowbr.png" alt="" />
</div>
