* {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
} 

@font-face {
  font-family: "overpass";
  src: url(../src/assets/fonts/Overpass-VariableFont_wght.ttf);
}

@font-face {
  font-family: "syne";
  src: url(../src/assets/fonts/Syne-VariableFont_wght.ttf);
}

