* {
  margin: 0;
  scroll-behavior: smooth;
  background-color: whitesmoke;
} 

@font-face {
  font-family: "overpass";
  src: url(../src/assets/fonts/Overpass-VariableFont_wght.ttf);
}

@font-face {
  font-family: "syne";
  src: url(../src/assets/fonts/Syne-VariableFont_wght.ttf);
}

