* {
  max-width: 1400px;
  margin: 0 auto;
} 

@font-face {
  font-family: "overpass";
  src: url(../src/assets/fonts/Overpass-VariableFont_wght.ttf);
}

@font-face {
  font-family: "syne";
  src: url(../src/assets/fonts/Syne-VariableFont_wght.ttf);
}

