footer {
    background-color: black;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    right: 0;
    left: 0;
    bottom: 0;
    height: 92px;
    padding-bottom: 40px;
  }

  #footerdiv {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: black;
  }

  #leftcontainer {
    display: flex;
    flex-direction: column;
    background-color: black;
  }

  #rightcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    a, div {
      background-color: black;
    }
  }

  .socials {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: black;
  }

  #logo {
  height: 55px;
  width: 55px;
  margin: 0;
  }
