<footer>
  <div id="footerdiv">
    <div id="leftcontainer">
      <img src="assets/img/frlogo.png" alt="FR-Logo" id="logo" />
      (c) Fabian Roeseler 2024
    </div>

    <div id="rightcontainer">
      <div>
        <img
          src="assets/img/githublogo.png"
          class="socials"
          alt="Github Logo"
        />
        <img src="assets/img/maillogo.png" class="socials" alt="Email Logo" />
      </div>
      <a href="/../../../privacy.html" target="_blank">Legal notice</a>
      <button (click)="openModal()">Open Modal</button>
    </div>
  </div>

  <!-- Modal Content -->
  <ng-container *ngIf="isModalOpen">
    <div class="overlay" (click)="closeModal()"></div>
    <div class="modal">
      <div class="modal-content">
        <h2>Impressum<br /><br /></h2>
        <p>
          Diensteanbieter <br /><br />
          Fabian Roeseler<br />
          Magdalenenstraße 7<br />
          42111 Wuppertal<br />
          Deutschland<br />
          Kontaktmöglichkeiten <br /><br />
          E-Mail-Adresse: info&#64;fabian-roeseler.com <br />
          Telefon: 0202 70929603<br />Design<br /><br />
          Diese Webseite wurde erstellt nach einem Design der
          www.developer-akademie.de <br /><br />
          Bildnachweise<br /><br />
          Bildquellen und Urheberrechtshinweise: www.developer-akademie.de<br /><br />
          Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
          Schwenke<br /><br />
        </p>
        <button id="closebutton" (click)="closeModal()">Close</button>
      </div>
    </div>
  </ng-container>
</footer>
