<footer>
    <div id="footerdiv">
    <div id="flexcontainer">
    <div id="leftcontainer">
        <img src="assets/img/frlogo.png"
        alt="FR-Logo"
        id="logo"
        >
        <span>(c) Fabian Roeseler 2024</span>
    </div>


    <div id="rightcontainer">
        <img src="assets/img/githublogo.png" alt="Github Logo">
        <img src="assets/img/maillogo.png" alt="Email Logo">
    </div>
</div>
    <div id="legals">
        <a href="">Legal notice</a>
    </div>
</div>
</footer>